:root {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(203 33.6% 82.1%);
    height: 100vh;
}

.main {
    display: grid;
    height: 100%;
    grid-template-columns: 14rem 1fr;
    grid-template-rows: 8rem 1fr;
}

.sidebar {
    background: hsl(203 100% 44.9%);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebar {
    color: white;
    padding: 1rem;
}

.header {
    background: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.main > div {
    border: solid 1px black;
}