@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Geologica:wght,CRSV@100..900,0&family=Parkinsans:wght@300..800&display=swap');

:root {
    --styling-sky-blue: hsl(203 100% 44.9%);
    --styling-pale-blue: hsl(203 33.6% 90%);
    --styling-mustard: hsl(44 81.9% 51%);
    --border-round: 1.4rem;
    --card-min-width: 20rem;
    --sidebar-width: 18rem;
}

.bold {
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Geologica", sans-serif;
    background: var(--styling-pale-blue);
    height: 100vh;
}

.main {
    display: grid;
    height: 100%;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: 8rem 1fr;
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: var(--sidebar-width);
    background: var(--styling-sky-blue);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: white;
    padding: 1rem;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    align-self: start;
    background: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.main > div {
}

.sidebar {    
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.5rem;
    
    z-index: 100;
}

.sidebar-menu-container,
.sidebar-settings-container {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.sidebar > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    max-height: 1.5em;
}

.sidebar div img {
    height: 100%;
}

.sidebar-option {
    font-weight: 800;
    font-size: 1.2rem;
}

.sidebar-title-container div {
    font-size: 1.5em;
    height: 2em;
}

.header {
    height: 8rem;
    padding: 0 2rem;
    padding-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 2.5rem 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    
    box-shadow: 0 2px 10px grey;
}

#search-bar {
    width: 100%;
    height: 100%;
    background-color: var(--styling-pale-blue);
    border: none;
    border-radius: var(--border-round);
}

.header > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 0;
}

.header-search-container,
.header-greeting-container {
    justify-content: flex-start;
}

.header-acc-container {
    justify-content: flex-end;
}

.header-button-container {
    justify-content: space-between;
}

.header-search-container {
    gap: 1rem;
    padding-top: 0.5em;
}

.header-search-container img {
    max-height: 100%;
}

.header-greeting-container {
    gap: 1rem;
}

.greeting-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.user-name,
.user-tag {
    font-size: 1.5em;
}

.header-greeting-container img {
    max-height: 100%;
    border-radius: 100%;
}

.header-btn {
    width: 6em;
    height: 2rem;
    background-color: var(--styling-sky-blue);
    color: white;
    border: none;
    border-radius: var(--border-round);   
}

.content {
    padding: 1.8rem 3rem;
    display: grid;
    grid-template-columns: calc(100% * 2/3) 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
}

.content > div {
    border: solid 2px black;
}

.content-project-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.content-announcment-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.content-trending-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3
}

.content-project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
   
    column-gap: 1.5rem;
    row-gap: 2rem;
}

.content > div > div {
    box-shadow: 2px 2px 4px hsla(0 0% 0% / 0.3);
    border-radius: 12px;
    
    padding: 1rem 1.6rem;
}

.project-card {
    height: min(100%, 20rem);
    overflow: clip;
    position: relative;
}

.project-card::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 12px;
    background: var(--styling-mustard);
}

.content-announcment-container,
.content-trending-container {
    display: flex;
    flex-direction: column;
}

.project-card,
.content-side-pad {
    background: white;
}

.content-side-pad {
    width: 100%;
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
}

.announcment {
    display: flex;
    flex-direction: column;
}

#announcment-container > div:not(:last-child) {
    border-bottom: solid 2px lightgrey;
}

